<div id="vpe" class="container">
  <h1>VPE Data</h1>
  {{#vpeData}}
    {{#if userEditGroup}}
      <div class="userEditGroup">
    {{else}}
      <div>
    {{/if}}

    <h3>{{category}}</h3>
      {{#if userEditGroup}}
        <button class="addInput">Add Input</button>
        <input id="{{category}}inputs" class="json_inputs" type="hidden">
      {{/if}}

      {{#items}}
        <div class="item column">
          <div class="row">
            <div class="col-xs-12">
              <div class="title">{{name}}</div>
              {{#if ../userEditGroup}}
                <button class="removeInput">Remove</button>
              {{/if}}
              <div class="key">key: {{../category}} :: {{name}}</div>
              {{#if help}}
              <div class="help">{{help}}</div>
              {{/if}}
            </div>
          </div>

          <div class="column">
              {{#if ../userEditGroup}}
                <input input_tag="{{category}} :: {{name}}" type="text" name="fname" placeholder="{{value}}">
              {{else}}
                <input id="{{category}} :: {{name}}" type="text" name="fname" placeholder="{{value}}">
              {{/if}}
              <div class="unit">
                {{#if unit}}
                Unit: {{unit}}
                {{/if}}
              </div>
          </div>


        </div>
      {{/items}}

      </div>
  {{/vpeData}}
</div>
