<div id="vpe" class="container">
  <h1>VPE Data</h1>
  {{#vpeData}}
    {{#if userEditGroup}}
      <div class="userEditGroup">
    {{else}}
      <div>
    {{/if}}

    <h3>{{category}}</h3>

      {{#items}}
        <div class="item column">
          <div class="row">
            <div class="col-xs-12">
              <div class="title">{{name}}</div>
              <div class="key">key: {{../category}} :: {{name}}</div>
              {{#if help}}
              <div class="help">{{help}}</div>
              {{/if}}
            </div>
          </div>

          <div class="column">
              <input id="{{category}} :: {{name}}" type="text" name="fname" placeholder="{{value}}">
              <div class="unit">
                {{#if unit}}
                Unit: {{unit}}
                {{/if}}
              </div>
          </div>


        </div>
      {{/items}}

      </div>
  {{/vpeData}}
</div>
